

.index
	position relative
	margin 0 auto
	margin-top 50px
	padding 20px 10px
	width 500px
	border 1px solid rgba(0, 0, 0, .7)
	background-color #fff

	&__item
		position relative
		display block
		padding 10px
		padding-right 30px
		font-size 16px
		color #000
		text-decoration none
		background-color rgba(0,0,0,.1)
		transition .3s ease-out
		&:after
			position absolute
			top 50%
			right 10px
			display block
			width 10px
			height 10px
			border-radius 50%
			transform translateY(-50%)
			content ''
		&:hover
			background-color rgba(0,0,0,.2)


		&_state_in-progress:after
			background-color #FBBC05
		&_state_done:after
			background-color #34A853