.input-fields
	display block
	position relative
	top 344.5px
	left 110px
	padding 0
	margin 0
	&__list
		height 320px
		width 785px
	&__input-label
		font-family bolt
		font-size 22px
	&__text-input
		margin-left 20px
		background rgba(0,0,0,0)
		border 0
		font-family cour
		font-size 30px
		border-bottom 2px solid black
	&__list-item
		&1
			position relative
			top -5px
			left 3px
		&2
			position relative
			top 18px
			left 2px
			padding-bottom 50px
		&3
			position relative
			top -4px
			left 2px
		&4
			position relative
			top 25px
			left 2px
		&5
			position relative
			top 53px
			left 2px
.fio
	position relative
	width 628px
	top -6px
	left -7px
.year
	position relative
	top -4px
	width 620px
	left -9px
.placeOfLiving
	position relative
	top -6px
	left -4px
	width 575px
.skype
	position relative
	top -8px
	left -10px
	width 698px
.email
	position relative
	top -10px
	left -8px
	width 697px

		