.skill-slider
	display block
	position relative
	left 112px
	top 323px
	&__description
		&1
			position relative
			top 13px
		&2
			position relative
			left 146px
			top -1px
		&3
			position relative
			left 373px
			top -18px
			line-height 20px
			width 175px
		&4
			position relative
			left 632px
			top -47px
	&__slider-skeleton
		position relative
		left -3px
		top 17px
	&__slider-comments-block
		font-size 13px
		font-family bolt
	&__description
		font-size 24px
		font-family bolt



		
